<aside>
    <a href="#" class="compose">
        Compose
    </a>

    <ul class="places">
        <li>
            <a href="/">
                <i class="p-beer"></i>
                Overview
            </a>
        </li>
        <li>
            <a href="/inbox" id="inbox">
                <i class="p-inbox"></i>
                Inbox
            </a>
        </li>
        <li>
            <a href="/actionable" id="actionable">
                <i class="p-action"></i>
                Actionable
            </a>
        </li>
        <li>
            <a href="/informational" id="informational">
                <i class="p-information"></i>
                Informational
            </a>
        </li>
        <li>
            <a href="/archive" id="archive">
                <i class="p-archive"></i>
                Archived
            </a>
        </li>
        <li>
            <a href="/drafts" id="drafts">
                <i class="p-draft"></i>
                Drafts
            </a>
        </li>
        <li>
            <a href="/sent" id="sent">
                <i class="p-sent"></i>
                Sent
            </a>
        </li>
        <li>
            <a href="/spam" id="spam">
                <i class="p-spam"></i>
                Spam
            </a>
        </li>
    </ul>

    <ul class="tags">
        <li>
            <a href="#" id="tag-1">
                <i class="p-tag"></i>
                Tag 1
            </a>
        </li>
        <li>
            <a href="#" id="tag-2">
                <i class="p-tag"></i>
                Tag 2
            </a>
        </li>
        <li>
            <a href="#" id="tag-3">
                <i class="p-tag"></i>
                Tag 3
            </a>
        </li>
    </ul>
</aside>