<aside>
    <a href="#" class="compose">
        Compose
    </a>

    <ul class="places">
        <li>
            <a href="#" class="active">
                <i class="p-beer"></i>
                Overview
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-inbox"></i>
                Inbox
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-draft"></i>
                Drafts
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-sent"></i>
                Sent
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-spam"></i>
                Spam
            </a>
        </li>
    </ul>

    <ul class="tags">
        <li>
            <a href="#">
                <i class="p-tag"></i>
                Tag 1
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-tag"></i>
                Tag 2
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-tag"></i>
                Tag 3
            </a>
        </li>
    </ul>
</aside>