<aside>
    <a href="#" class="compose">
        Compose
    </a>

    <ul class="places">
        <li>
            <a href="/">
                <i class="p-beer"></i>
                Overview
            </a>
        </li>
        <li>
            <a href="/inbox" class="badge new" data-badge="5">
                <i class="p-inbox"></i>
                Inbox
            </a>
        </li>
        <li>
            <a href="/actionable">
                <i class="p-action"></i>
                Actionable
            </a>
        </li>
        <li>
            <a href="/informational">
                <i class="p-information"></i>
                Informational
            </a>
        </li>
        <li>
            <a href="/archive">
                <i class="p-archive"></i>
                Archived
            </a>
        </li>
        <li>
            <a href="/drafts">
                <i class="p-draft"></i>
                Drafts
            </a>
        </li>
        <li>
            <a href="/sent">
                <i class="p-sent"></i>
                Sent
            </a>
        </li>
        <li>
            <a href="/spam">
                <i class="p-spam"></i>
                Spam
            </a>
        </li>
    </ul>

    <ul class="tags">
        <li>
            <a href="#" class="badge" data-badge="2">
                <i class="p-tag"></i>
                Tag 1
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-tag"></i>
                Tag 2
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-tag"></i>
                Tag 3
            </a>
        </li>
    </ul>
</aside>