<nav class="main-nav">
    <ul class="breadcrumbs">
        <li>
            <a href="#">
                Home
            </a>
        </li>
        <li>
            Another page
        </li>
    </ul>

    <ul class="actions">
        <li>
            <a href="#">
                <i class="p-email-outbox"></i>
                Push mail
            </a>
        </li>
        <li>
            <a href="#">
                <i class="p-email-inbox"></i>
                Get mail
            </a>
        </li>
    </ul>
</nav>