<main>
    {% include "templates/layouts/breadcrumbs.html" %}
    {# <div id="content"></div> #}

    {# THIS IS A MOCKUP ONLY #}
    <div id="content">
        <div  class="vertical-wrapper">
            <div class="vertical-center horizontal-wrapper">
                <div class="row dashboard-details">
                    <div class="sm-1 md-1-2 horizontal-center">
                        <div class="number">
                            <h3>Emails sent this week</h3>
                            <strong>24</strong>
                            <p>That is <em>5%</em> more than last week.</p>
                        </div>
                        <div class="number">
                            <h3>Emails received this week</h3>
                            <strong>38</strong>
                            <p>That is <em class="negative">8%</em> less than last week.</p>
                        </div>
                    </div>
                    <div class="sm-1 md-1-2 horizontal-center">
                        <h3>Top email participants</h3>
                        <canvas id="recipient-chart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>