<div class="email-list">
    <section>
        <h4>Today</h4>
        {% include "templates/components/inbox/email-action-bar.html" %}
        <div class="email-wrapper new unread" id="email-1">
            <div class="email-display">
                <div class="status">
                    <div class="envelope toggler new" data-target="email-1" data-class="unread read">
                        <div class="flap"></div>
                    </div>
                    <i class="p-circle"></i>
                </div>
                <div class="name badge" data-badge="4">
                    John Doe
                </div>
                <div class="text">
                    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
                </div>
                <div class="date">
                    17 minutes ago
                </div>
                <div class="actions">
                    <a href="#"><i class="p-snooze"></i></a>
                </div>
                <div class="checker">
                    <input type="checkbox" id="select-1">
                    <label for="select-1"></label>
                </div>
            </div>
            <div class="email-details">
                Here goes the inner details
            </div>
        </div>

        <div class="email-wrapper read" id="email-2">
            <div class="email-display">
                <div class="status">
                    <div class="envelope toggler" data-target="email-2" data-class="unread read">
                        <div class="flap"></div>
                    </div>
                    <i class="p-information"></i>
                </div>
                <div class="name badge" data-badge="4">
                    John Doe
                </div>
                <div class="text">
                    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
                </div>
                <div class="date">
                    25 minutes ago
                </div>
                <div class="actions">
                    <a href="#"><i class="p-snooze"></i></a>
                </div>
                <div class="checker">
                    <input type="checkbox" id="select-2">
                    <label for="select-2"></label>
                </div>
            </div>
            <div class="email-details">
                Here goes the inner details
            </div>
        </div>

        <div class="email-wrapper unread" id="email-3">
            <div class="email-display">
                <div class="status">
                    <div class="envelope toggler" data-target="email-3" data-class="unread read">
                        <div class="flap"></div>
                    </div>
                    <i class="p-action"></i>
                </div>
                <div class="name badge" data-badge="4">
                    John Doe
                </div>
                <div class="text">
                    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
                </div>
                <div class="date">
                    1 hour ago
                </div>
                <div class="actions">
                    <a href="#"><i class="p-snooze"></i></a>
                </div>
                <div class="checker">
                    <input type="checkbox" id="select-3">
                    <label for="select-3"></label>
                </div>
            </div>
            <div class="email-details">
                Here goes the inner details
            </div>
        </div>
    </section>


    <section>
        <h4>Yesterday</h4>
        {% include "templates/components/inbox/email-action-bar.html" %}
        <div class="email-wrapper read" id="email-4">
            <div class="email-display">
                <div class="status">
                    <div class="envelope toggler" data-target="email-4" data-class="unread read">
                        <div class="flap"></div>
                    </div>
                </div>
                <div class="name badge" data-badge="4">
                    John Doe
                </div>
                <div class="text">
                    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
                </div>
                <div class="date">
                    1 day ago
                </div>
                <div class="actions">
                    <a href="#"><i class="p-snooze"></i></a>
                </div>
                <div class="checker">
                    <input type="checkbox" id="select-4">
                    <label for="select-4"></label>
                </div>
            </div>
            <div class="email-details">
                Here goes the inner details
            </div>
        </div>
    </section>
</div>