@import "00colors.scss";
@import "00variables.scss";

.portermail {
    .main-nav {
        display: flex;
        justify-content: space-between;

        ul {
            flex: 1;
            padding: 1rem;

            &.actions {
                text-align: right;
            }

            li {
                display: inline-block;

                &:not(:last-of-type)::after {
                    content: '|';
                    display: inline-block;
                    margin: 0 0.4rem;
                }
            }
        }
    }

    .places {
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    aside {
        li {
            display: block;

            a {
                display: block;
                font-size: 2rem;
                font-weight: 300;
                color: $near-black;
                padding: 1rem;

                &.active {
                    background-color: $near-white;
                }
                &:not(.active) {
                    color: $grey;
                }
                &:hover {
                    background-color: $primary;
                    color: $near-white;

                    &::after {
                        background-color: darken($primary, 5%);
                    }
                }
            }
        }
    }

    .tags {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
            display: block;

            &.active {
                width: $aside-width;
            }
            &:not(.active) {
                font-size: 1rem;
                width: $aside-width/2;
            }
        }
    }
}