@import "00colors.scss";

.horizontal-wrapper { width: 100%;}
.horizontal-center {
    text-align: center;
}
.vertical-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

// 

.portermail {
    .dashboard-details {
        display: flex;

        h3 {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: rgba(0, 0, 0, 0.4);
        }

        .number {
            margin-bottom: 5rem;


            strong {
                display: block;
                font-size: 12rem;
            }

            p {
                margin: 0;

                em {
                    display: inline-block;
                    font-style: normal;
                    font-weight: 600;
                    transform: scale(1.5);
                    color: $near-black;
                    margin: 0 0.85rem;
                }
            }
        }
    }

    canvas {
        filter: grayscale(1);
        -webkit-transition: all 200ms ease-out;
        -moz-transition:    all 200ms ease-out;
        -o-transition:      all 200ms ease-out;
        transition:         all 200ms ease-out;
    }
    canvas:hover {
        filter: grayscale(0);
    }
}