@import "00colors.scss";

$color: rgba(0, 0, 0, 0.1);
$height: 35px;
$width: $height * 4/3;
$flap: lighten(#FD5B03, 10%);
$flap-speed: 250ms;

.portermail .envelope {
  background-color: $color;
  height: $height;
  width: $width;
  position: relative;
  display: inline-block;
  
    // perspective: 1000px;

  
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height/1.5 $height/1.5 0 $height/1.5;
    border-color: darken($color, 10%) transparent transparent transparent;
  }
  
  .flap {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $height/1.5 $height/1.5 0 $height/1.5;
    border-color: darken($color, 60%) transparent transparent transparent;
    transition: all $flap-speed ease-out;
      transform-style: preserve-3d;  
    transform-origin: top center;
    z-index: 1;
  }
}

$name-width: 240px;

.portermail {
    .email-actions {
        margin: 0 1rem;

        ul:first-of-type {
            display: flex;
        }

        li {
            // margin: 0 0.4rem;

            &:not(:last-of-type)::after {
                content: '|';
                display: inline-block;
                margin: 0 0.4rem;
            }
        }
    }

    .email-list {
        padding: 1rem;

        section {
            background: rgba(255, 255, 255, 0.7);
            padding: 2rem;
            margin: 1rem 0;
        }

        .badge {
            &::after {
                background-color: #bdbdbd;
            }
        }

        .new {
            .flap {
                border-color: $flap transparent transparent transparent;
            }

            .badge {
                &::after {
                    background-color: #FD5B03;
                }
            }
        }
        .read .flap {
            border-color: darken($color, 10%) transparent transparent transparent !important;
            transform: rotateX(180deg);
        }
        .unread {
            font-weight: 500;

            .envelope {
                background-color: darken($color, 50%);
            }
        }
    }

    .email-wrapper {
        $eb: 4px;
        padding: 0;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        border-color: $near-white;
        // box-shadow: 0    -$eb $eb -$eb #bdbdbd, // Top
        //             -$eb 0    $eb -$eb #bdbdbd, // Left
        //             $eb  0    $eb -$eb #bdbdbd; // Right
        // border-collapse: collapse;

        &:last-of-type {
            border-width: 1px;
            // box-shadow: 0    -$eb $eb -$eb #bdbdbd, // Top
            //             -$eb 0    $eb -$eb #bdbdbd, // Left
            //             $eb  0    $eb -$eb #bdbdbd, // Right
            //             0    $eb  $eb -$eb #bdbdbd; // Bottom
        }

        .tags {
            margin: 0;
            padding: 0;
            justify-content: flex-start;

            span {
                margin: 0 5px;
                font-size: 0.8rem;
                line-height: 0.8rem;
                background-color: $near-white;
                padding: 3px;
            }
        }

        &.selected {
        // &:hover {
            box-shadow: inset 0 0 0 2px $light-primary;
        }

        &:hover {
            .actions a {
                color: $light-grey;
            }

            .text p::after {
                opacity: 1;
            }
        }
    }

    .email-display {
        display: flex;
        flex-direction: row;
        padding: $height/1.2 1rem;

        .status {
            font-size: $height;

            .p-action {
                color: $near-black;
            }
            .p-information {
                color: $light-grey;
            }
            .p-circle {
                color: $white;
            }

            i:hover {
                color: $light-primary;
            }
        }

        .name {
            width: $name-width;
            padding-left: 1rem;
            padding-right: 25px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: $height;

            &::after {
                line-height: .8rem;
                top: 1em;
                right: 0;
            }
        }

        .text {
            position: relative;
            line-height: $height;
            padding: 0 1rem;
            // overflow: hidden;
            flex-grow: 1;
            // background-color: green;
            p {
                display: inline-block;
                margin: 0;
                position: relative;
                z-index: 4;

                // -webkit-text-stroke: -1px $white;
   // color: white;
               text-shadow:
                   1px 1px 0 $white,
                 -1px -1px 0 $white,
                  1px -1px 0 $white,
                  -1px 1px 0 $white,
                   1px 1px 0 $white;
//                 display: flex;
// ;                // max-width: 37%;
//                 overflow: hidden;
//                 // white-space: nowrap;
//                 text-overflow: ellipsis;
//                 // display: none;

                &::after {
                    opacity: 0;
                    content: '';
                    position: absolute;
                    display: block;
                    border-bottom: 1px solid $dark-grey;
                    width: 100%;
                    height: 1px;
                    background-color: $white;
                    z-index: -1;
                    bottom: 0.8em;

                }

            }
            // &:hover p {
            //     color: $primary;

            //     &::after {
            //         border-;
            //     }
            // }
        }

        .date {
            flex-grow: 0;
            padding: 0 1rem;
        }

        .actions {
            a {
                color: transparent;
                padding: 1rem;
                i {
                    font-size: 2rem;
                }

                &:hover {
                    color: $primary !important;
                }
            }
        }
    }

    .email-details {
        display: none;

        .overview {
            min-width: 240px;
            padding: 0 1rem;
        }

        .participants li {
            display: inline-block;
            margin-right: -15px;

            &:first-of-type {
                margin-left: 1rem;
            }
        }

        .conversation a {
            display: block;
            padding: 0.4rem 1rem;
            font-weight: 300;

            &.active {
                box-shadow: -4px 0 0 0 $grey;
            }

            &::before {
                content: "From: ";
                color: $light-grey;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 0.8rem;
            }

            &:hover {
                box-shadow: -4px 0 0 0 $orange;
            }

            span {
                display: block;
                color: $dark-grey;
                font-size: 0.9rem;
            }
        }

        .current-message {
            font-weight: 400;
            line-height: 145%;
            font-size: 1.4rem;
            flex-grow: 1;
        }

        .details {
            display: flex;

            li {
                color: $primary;
                margin: 1rem;

                &::before {
                    color: $light-grey;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }
                &.from::before {
                    content: "From: ";
                }
                &.to::before {
                    content: "to: ";
                }
            }
        }

        .text span[data-moment] {
            font-weight: 700;
            display: block;
            color: $dark-grey;
            font-size: 0.9em;
        }
    }

    .email-wrapper.opened {
        .email-details {
            display: flex;
            max-width: 1050px;
        }
    }

}