@import "00colors.scss";

.portermail .negative {
    color: $red !important;
    &::before { content: '('; }
    &::after { content: ')'; }
}

.toggler { cursor: pointer; }

.vertical-align-middle { vertical-align: middle; }

.avatar {
    border-radius: 50%;

    $small: 40px;
    &.small {
        width: $small;
        height: $small;
    }
}