<div class="email-actions">
    <div class="row">
        <div class="sm-1-2">
            <ul>
                <li><a href="#">Mark read</a></li>
                <li><a href="#">Mark unread</a></li>
                <li><a href="#">Mark done</a></li>
            </ul>
        </div>
        <div class="sm-1-2 right-align">
            <ul class="inline-flex">
                <li>
                    <input type="checkbox" id="select-all">
                    <label for="select-all" class="w-text"></label>
                </li>
            </ul>
        </div>
    </div>
</div>